---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Slift | Ecommerce & Wordpress Development Agency">
	<img class="logo" src="/slift-logo.webp" alt="Slift Logo">
	<main>
		<h1><span class="text-gradient">Slift</span> is a Web Development Agency</h1>
		<ul role="list" class="link-card-grid">
			<Card title="E-Commerce" body="We specialise in Custom Shopify and WooCommerce stores." /> 
			<Card title="Custom Wordpress" body="We create high performance custom Wordpress Sites for Businesses." /> 
			<Card title="UI / UX" body="We take extreme care of the User Experience, Accessibility & Visuals." /> 
			<Card title="Branding" body="We help your brand come alive and ready to take over the world" />
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg,hsl(260, 95%, 36%), hsl(280, 82%, 60%));
	}

	h1 {
		margin: 2rem 0;
		text-align: center;
	}

	main {
		margin: auto;
    padding: 1em;
		padding-top: 4em;
		max-width: 70ch;
	}

	.text-gradient {
		font-weight: 700;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	.logo {
		width: 150px;
		display: block;
		margin: 30px auto 0 auto;
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
