---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Slift | Ecommerce & Wordpress Development Agency">
	<img width="144" height="40" class="logo" src="slift-logo@1x.webp" srcset="slift-logo@1x.webp 144w, slift-logo@2x.webp 288w, slift-logo@3x.webp 431w" alt="Slift Logo">
	<main>
		<h1><span class="text-gradient">Slift</span> is an Ecommerce & Wordpress Development Agency</h1>
		<ul role="list" class="link-card-grid">
			<Card title="Ecommerce" body="We specialise in Shopify Store Setup, Theme Customisations & Speed Optimisation" /> 
			<Card title="Wordpress" body="We build blazing fast Custom Wordpress Website for Businesses" /> 
			<Card title="Jamstack" body="get your ecommerce store, wordpress website or a static site converted to a headless ecosystem for speed, flexibility and scalabiolity" /> 
			<Card title="Strategy" body="We guide you with everything you need to run your business, from sales to CRM, from offline stores to multiple online store-fronts" />
			<Card title="Design" body="We help with branding and design to get your brand can stand out from the competition" />
			<Card title="Development" body="We develop cutting edge eCommerce websites that convert and keep you busy counting" />
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg,hsl(262, 95%, 36%), hsl(280, 82%, 60%));
	}

	h1 {
		margin: 2rem 0 2.5rem 0;
		text-align: center;
	}

	main {
		margin: auto;
    	padding: 1em;
		padding-top: 4em;
		max-width: 105ch;
		display: flex;
		flex-direction: column;
	}

	.text-gradient {
		font-weight: 700;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	.logo {
		width: 150px;
		display: block;
		margin: 30px auto 0 auto;
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1.8rem;
		padding: 0 20px;
	}
</style>
